.Password-Forgot {
  height: 100vh !important;
  background: url(../../../assets/images/login-bg.png) no-repeat !important;
  background-size: cover !important;
  background-position: fixed !important;
  padding: 15px 0px !important;
}

.forgot-password-container {
  min-height: 80vh !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgot-center-div {
  display: flex;
  justify-content: center !important;
  margin: 0 auto !important;
  width: 400px;
  height: 190px;
  background: rgba(255, 255, 255, 0.5);
  min-height: 100px;
  align-items: center !important;
  border-radius: 12px;
  padding: 10px 15px;
}

.Forgot-Heading-js {
  display: flex;
  justify-content: center;
  color: #eb5300;
  font-size: 16px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.Forgot-btn {
  padding: 8px 15px;
  font-size: 15px;
  font-weight: 500;
  background: linear-gradient(to bottom, #5b67cd 0%, #2a38af 100%) !important;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: none !important;
}

.Forgot-btn:is(:hover, ) {
  background: linear-gradient(to bottom, #feac78 0%, #e97225 100%) !important;
}

.form-comtrol-Forgot-textfield {
  height: 37px !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.5) !important;
  font-size: 14px !important;
  outline: none !important;
  color: #002650 !important;
  box-shadow: none !important;
  border: none !important;
}

.Forgot-field-class {
  background: rgba(255, 255, 255, 0.5) !important;
  font-size: 17px !important;
  outline: none !important;
  color: #002650 !important;
  box-shadow: none !important;
  border: none !important;
}

.signIn-Signup-btn-col {
  display: flex;
  justify-content: center !important;
}

.bankErrorMessage {
  height: 0px;
  margin-top: 0px !important;
  font-size: 14px !important;
  font-family: "Montserrat", sans-serif !important;
  letter-spacing: 0.2px;
  font-weight: 600;
  color: #f14848;
  visibility: visible !important;
}

.bankErrorMessage_hidden {
  visibility: hidden;
  margin: 0;
  height: 16px;
}
