.container-header {
  width: 100% !important;
  background: #f4f4f4;
  z-index: 1 !important;
}

.js-logo {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
}
.navbar-header {
  display: flex !important;
}

.rfq-button {
  background: linear-gradient(to bottom, #5b67cd 0%, #2a38af 100%);
  border-radius: 4px !important;
  padding: 7px 35px;
  font-size: 15px;
  font-weight: 600;
  text-align: center !important;
  border: none;
  align-items: center;
}

.rfq-button:hover {
  background: #e97225 !important;
  border-radius: 4px !important;
  padding: 7px 35px;
  font-size: 15px;
  font-weight: 600;
  text-align: center !important;
  border: none;
  align-items: center;
}

.caluclator-button {
  background: linear-gradient(to bottom, #5b67cd 0%, #2a38af 100%);
  border-radius: 4px !important;
  padding: 7px 40px;
  font-size: 15px;
  font-weight: 600;
  border: none;
  text-align: center !important;
  align-items: center;
}

.caluclator-button:hover {
  background: #e97225 !important;
  border-radius: 4px !important;
  padding: 7px 40px;
  font-size: 15px;
  font-weight: 600;
  border: none;
  text-align: center !important;
  align-items: center;
}

